<ng-container *ngIf="responseDto; then showBlock else errorBlock">

</ng-container>
<ng-template #showBlock>
  <div class="container">
  
    <div>
      <img id="postertest" class="poster" [src]="'https://image.tmdb.org/t/p/original'+responseDto.Movie.backdrop_path">
    </div>
    <!-- Card Container -->
    <div class="col-xs-12 cardcont nopadding">
      <!-- Meta Container -->
      <div class="meta-data-container col-xs-12 col-md-8 push-md-4 col-lg-7 push-lg-5">
        <h1>{{responseDto.Movie.original_title}}</h1>
        <span class="tagline">
          <h2>{{responseDto.Movie.tagline}}</h2>
          {{responseDto.Movie.genres[0].name}} .
          <!-- <span *ngIf="responseDto.Movie.genres[1]; then ifBlock else elseBlock"> -->
            <ng-template [ngIf]="responseDto.Movie.genres[1]">
                <span>{{responseDto.Movie.genres[1].name}}</span>
            </ng-template>
            <ng-template [ngIf]="!responseDto.Movie.genres[1]">
                  <span>NA</span>
            </ng-template>
          <!-- </span> | --> |
          <!-- <span *ngIf="responseDto.Movie.spoken_languages[0]; then ifBlock else elseBlock"> -->
            <ng-template [ngIf]="responseDto.Movie.spoken_languages[0]">
              <span>              {{responseDto.Movie.spoken_languages[0].name}}
              </span>
            </ng-template>
            <ng-template [ngIf]="!responseDto.Movie.spoken_languages[0]">
                  <span>English</span>
            </ng-template>
          </span> |
          <span>              {{responseDto.Movie.runtime}}
          </span> |
          <span>              {{responseDto.Movie.release_date}}
          </span>
        <!-- </span> -->
        <h4>
          SYNOPSIS
        </h4>
        <p style='margin-top:6.5vh;'>
          {{responseDto.Movie.overview}}
        </p>
        <!-- additional-details -->
        <div class="additional-details">
          <span class="genre-list"></span>
          <span class="production-list"></span>
          <div class="nopadding release-details">
            <div class="col-xs-6">
              Directed by:
              <span class="meta-data">{{getDirectorName(responseDto.Credit)}}</span>
            </div>
            <div class="col-xs-6">
              Produced by:
              <span class="meta-data">{{getProducerName(responseDto.Credit)}}</span>
            </div>
            <div class="col-xs-6">
              Box Office:
              <span class="meta-data">{{responseDto.Movie.revenue}}
              </span>
            </div>
            <div class="col-xs-6">
              Vote Average:
              <span class="meta-data">{{responseDto.Movie.vote_average / 10}}</span>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-red btn-lg" data-toggle="modal" data-target="#myModal">Watch
                Trailer</button>
              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <div class="video-container">
                        <div>
                          <iframe width="640" height="360" class="youtube"
                            [src]="getTrailerLink(responseDto.Video)" allowfullscreen="">
                          </iframe>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <!-- Modal Content -->
                </div>
              </div>
              <!-- Modal -->
            </div>
            <div class="col-xs-6">
              <a href="/toprated" class="btn-lg btn-green">View More</a>
            </div>
          </div>
        </div>
        <!-- additional-details -->
      </div>
      <!-- Meta Container -->
      <div class="poster-container nopadding col-xs-12 col-md-4 pull-md-8 col-lg-5 pull-lg-7 ">
        <img class="poster" [src]="'https://image.tmdb.org/t/p/w500' +responseDto.Movie.poster_path">
      </div>
    </div>
    <!-- Card Container -->
    <!-- Cast Description -->
    <div class="col-xs-12 cardcont nopadding">
      <div class="wrapper">
        <h3>STARRING</h3>
        <div style="margin-top:50px;" class="row row-flex">
          <div class="col-md-3" *ngFor="let cast of responseDto.Credit.cast">
            <div class="responsive-circle">
              <div>
                <img [src]="getCastProfilePicture(cast.profile_path)" class="image--cover">
                <figcaption>
                  {{cast.name}}
                </figcaption>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Recommendations -->
      <div class="col-xs-12 cardcont nopadding">
        <div class="wrapper">
          <h3>People who liked this also liked...</h3>
          <div class="container">
            <div class="row row-flex fivecolumns">
              <div class="span2" *ngFor="let recommended of responseDto.Recommend.results">
                <img class="img-responsive" [src]="getRecommendedPicture(recommended)"
                  id="movie-summary-img"><br>
                <figcaption>
                  {{recommended.title}}
                </figcaption>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

  </ng-template>
  <ng-template #errorBlock>
    <div class="loading">Loading&#8230;</div>
  </ng-template>